/*------------------------------------------ common css------------------------------------ */

*{
    font-family: 'Roboto', sans-serif;;
}
nav a{
    font-weight: normal;
    font-style: normal;
    color: #f1f1f1!important;
}
header nav{
    background: rgba(82,82,82,0.8)!important; 
    width: 100%;
}
.white-logo-transparent-background{
    width: 73px;
    height: 54px;
}
#book{
    background-color: rgba(41, 98, 109, 1); 
    padding: 8px 24px 8px 24px;
}
#price{
    background-color: transparent;
    padding: 8px 24px 8px 24px;
}
#lgn{
    background-color: rgba(41, 98, 109, 1);
    padding: 8px 24px 8px 24px;
}
#b-helper{
    background-color: rgba(41, 98, 109, 1);padding: 8px 24px 8px 24px;
}
.about{
    width: 100%; 
    height: 370px; 
    object-fit: cover;
}
h1{
    color: #4f4f4f; 
    font-weight: 500; 
    font-size: 36px; 
    margin-top: 39px;
}
hr{
    width: 6%; color: #4f4f4f; 
    margin-top: 16px; 
    margin-right: 10px; 
    height: 1px;
}
.hr2{
    margin-left: 10px;
}
.forma-1-copy-5{
    margin-top: 0px;
    object-fit: contain;
}
p{
    width: 982px; 
    margin-top: 40px; 
    margin-left: 5px; 
    margin-right: 5px; 
    color: #646464; 
    line-height: 1.5;
}
h2{
    color: #4f4f4f;
    font-weight: 500; 
    font-size: 36px; 
    margin-top: 50px;
}
h3{
    font-size: 18px; 
    color: #353548; 
    font-weight: bold;
}
#mail{
    color: #565656; 
    width: 233px; 
    font-size: 14px; 
    border: solid 1px #565656;
}
#submit{
    height: 40px; 
    color: #ffffff; 
    background: #ff7b6d; 
    border: none; 
    font-size: 11px;
}
footer .white-logo-transparent-background{
    width: 106px;
    height: 100%;
}
footer div{
    background: #111111;
}
footer hr{
    width: 80%;
    color: #8c8c8c;
}
h6 , h6 a{
    color: #9ba0a3!important;
    font-size:14px;
    text-decoration: none;
}



@media (max-width:1200px){
    footer .container{
        justify-content: center!important;
    }
}
@media (max-width:990px){
    footer.container{
        justify-content: center!important;
    }
    footer nav ul{
        display: inline-block!important;
    }
}
@media (max-width:600px){
    main{
        padding-left: 15px!important;
        padding-right: 15px!important;
    }
}
@media (max-width:497px){
    footer .container{
        text-align: center!important;
    }
}